body {
    margin: 0px;
    margin-top: 1em;
    background: white;
}

#maintext {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 40em;
    height: 100%;
    outline: none;
    resize: none;
    background-color: white;
    border: none;
    font-family: sans-serif;
}